<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link href="https://bootswatch.com/3/yeti/bootstrap.css" rel="stylesheet">
    <title>TimeAdge Secretary</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1 class="text-center">
          <small>TimeAdge </small>
        </h1>
      </div>
      <div class="row">
        {% block contain %}
        {% endblock %}
      </div>
    </div>
<footer>
	<p>&nbsp;</p>
        <p class="text-center">
		For more rewarding experience visit <a href="https://timeadge.ml">timeage.ml</a>!
	</p>
        <p class="text-center">
		TimeAdge: on the edge of your age!
	</p>

</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46470654-2', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
