{% extends 'layouts/master.html' %}
{% block contain %}
<div class="row">
  <div class="col-sm-6"><h4>Are you sure to delete this note?</h4></div>
  <div class="col-sm-6 text-right">
    <a href="{{ url_for('dashboard') }}" class="btn btn-danger">No</a>
    <a href="{{ url_for('delete_note', id=data.main_note.id) }}" class="btn btn-success">Yes</a>
  </div>
</div>
<br/>
<div class="row">
  <div class="panel panel-default">
      <div class="panel-body">
        <h3>
          {{ data.markdown(data.main_note.title)|safe }}
        </h3>
        {{ data.markdown(data.main_note.text)|safe }}
      </div>
    </div>
</div>
{% endblock %}
