{% extends 'layouts/master.html' %}
{% block contain %}
{% if data['error'] and data['error'] == 'login' %}
<div class="row">
  <div class="alert alert-danger" role="alert">
    <strong>Error</strong> Email or password incorrect
  </div>
</div>
{% endif %}
{% if data['error'] and data['error'] == 'register' %}
<div class="row">
  <div class="alert alert-danger" role="alert">
    <strong>Error</strong> Email exists
  </div>
</div>
{% endif %}
<div class="row">
  <form method="post" action="{{ url_for('login') }}">
    <div class="form-group">
      <input type="email" class="form-control" required id="email" placeholder="Email" name="email" value="{{ data['email'] }}">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" required id="password" placeholder="Password" name="password" value="{{ data['password'] }}">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-default" name="action" value="login">Log In</button>
      <button type="submit" class="btn btn-default" name="action" value="signup">Sign Up</button>
    </div>
  </form>
</div>
{% endblock %}
