{% extends 'layouts/master.html' %}
{% block contain %}
<div class="row text-right">
  <strong>{{ session['user_email'] }}</strong>
  <a href="{{ url_for('logout') }}" class="btn btn-primary">Log out</a>
</div>
<br/>
<form action="{{ url_for('save_note') }}" method="post">
  <div class="row">
    <div class="col-xs-6">
      <a href="{{ url_for('dashboard') }}" class="btn btn-danger">Back</a>
    </div>
    <div class="col-xs-6 text-right">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  </div>
  <br/>
  <div class="row">
    <input type="text" name="title" class="form-control" placeholder="Title" required>
    <textarea name="text" class="form-control" rows="10" placeholder="Contents" required></textarea>
  </div>
</form>
{% endblock %}
